
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav-heading h1{
    text-align: center;
    cursor: pointer;
    border: none;
    margin: 10px;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    color: blueviolet;
}

.nav-heading h1:hover{
    background-color: beige;
}
.nav-logo{
    text-align: center;
}

.nav-link{
    flex-direction: row;
    justify-content: flex-end;
}

.nav-link a{
  padding: 5px 10px; 
  margin: 20px 0px;
  background-color: transparent;
}


.pro-desc p{
    color: antiquewhite;
    margin: 0px auto;
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}



.profile .top-rainpic{
    left: 1px;
    width: 300px;
    transition: width 2s transform 2s;
}

.profile .top-rainpic:hover{
    width: 300px;
}


.profile .down-rainpic{
    right: 1px;
    width: 300px;
    transition: width 2s transform 2s;
}

.profile .down-rainpic:hover{
    width: 300px;
}
.my-pic{
    margin-top: 90px;
}
.aboutMe-desc p{
    text-align: left;
}



.aboutSkills{
    padding: 1% 5%;
}



.contactMe button{
    width: 150px;
}
.contact-link{
    position: relative;
}

.media-buttons{
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.footer-link{
    margin-top: 12px;

}

.footer-link a{
    display: inline;
    margin: 10px;
    
}
